<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>521126010283-tokj9m8i90qe0fojhrh62gcrugbh0kul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521126010283-tokj9m8i90qe0fojhrh62gcrugbh0kul</string>
	<key>API_KEY</key>
	<string>AIzaSyCDQT2qfUIbbqbHb-nkJ2esZBQAWpdLkjY</string>
	<key>GCM_SENDER_ID</key>
	<string>521126010283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.demong</string>
	<key>PROJECT_ID</key>
	<string>angular-auth-a389b</string>
	<key>STORAGE_BUCKET</key>
	<string>angular-auth-a389b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521126010283:ios:f168f6d372efe52b</string>
	<key>DATABASE_URL</key>
	<string>https://angular-auth-a389b.firebaseio.com</string>
</dict>
</plist>